@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



* {
  /* outline: red solid 1px; */
  /* overflow-x: hidden; */
}

.mission {
  left: 1.25rem;
  animation: ltr 2s ease-in-out;
}

.vision {
  right: 1.25rem;
  animation: rtl 2s ease-in-out;
}

.title {
  top: 2rem;
  animation: title 2s ease-in-out;
}

@keyframes title {
  from {
    top: -0rem;
    opacity: 0;
  }

  to {
    top: 2rem;
    opacity: 100%;
  }
}

@keyframes rtl {
  from {
    right: -20rem;
    opacity: 0;
  }

  to {
    right: 1.25rem;
    opacity: 100%;
  }
}

@keyframes ltr {
  from {
    left: -20rem;
    opacity: 0;
  }

  to {
    left: 1.25rem;
    opacity: 100%;
  }
}


.img-anim {
  transform: scale(0);
  animation: scale-in 1.8s ease-in-out;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 100;
  }

  100% {
    transform: scale(10);
    /* visibility: hidden; */
    opacity: 0;

  }
}

.glass {
  background: rgba(66, 66, 66, 0.473);
  box-shadow: 0 8px 32px 0 rgba(135, 69, 31, 0.24);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 35px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

