@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



*{
  outline: red solid 1px;
}

.mission{
  left: 1.25rem;
  animation: ltr 2s ease-in-out;
}

.vision{
  right: 1.25rem;
  animation: rtl 2s ease-in-out;
}

@keyframes rtl {
  from{
    right: -20rem;
    opacity: 0;
  }
  to{
    right: 1.25rem;
    opacity: 100%;
  }
}

@keyframes ltr {
  from{
    left: -20rem;
    opacity: 0;
  }
  to{
    left: 1.25rem;
    opacity: 100%;
  }
}